---
title: KK.08.2.1.16.0149
description: Improving the Competitiveness of Geometricus d.o.o. by Investing in the Equipment of a Branch in the City of Petrinja
layout: 'base-en.njk'
---



      <section id="EU" class="d-flex justify-content-center">
        <img class="width-50" src="../image/geometricus-landing-banner.webp" alt="">
    </section>
    
    <section id="grad-petrinja" class="py-5 container-md">
        <h4 class="text-primary">
            PROJECT NAME:
        </h4>
    
        <h5>Improving the Competitiveness of Geometricus d.o.o. by Investing in the Equipment of a Branch
            in the City of Petrinja</h5>
        <br>
        <h4>BENEFICIARY:</h4>
    
        <p>Geometricus d.o.o., Ferovac 32, 34340 Kutjevo</p>
    
        <h4>DESCRIPTION:</h4>
    
        <p>The general aim of the project is to contribute to the economic regeneration of the deprived area of the City
            of Petrinja through investment in the presence of highly specialized surveying activities in the city.
            <br>
            The specific objective of the project is to increase the competitiveness of the company GEOMETRICUS d.o.o.
            through the implementation of new technologies and the establishment of a new surveying branch in Petrinja.
            <br> This objective will be achieved by raising the level of quality and speed of surveying elaborates, as well
            as introducing a modern way of processing and providing surveying services, and expanding the portfolio of
            activities to those needed in the targeted area of the city of Petrinja, especially technologies applicable in
            natural disaster management.
        </p>
        <p>Results: <br>
            - Procured and implemented a new set of surveying instruments based on the latest technologies of Industry
            4.0 <br>
            - Opened and equipped a new surveying branch in the City of Petrinja <br>
            - Created 4 new jobs in the year m+2</p>
    
        <h5>TOTAL PROJECT VALUE:</h5>
        <p>218,253.92 EUR / 1,644,434.14 HRK</p>
    
        <h5>EU CO-FINANCING AMOUNT:</h5>
        <p>145,934.18 EUR / 1,099,541.09 HRK</p>
        <br>
        <h5>PROJECT IMPLEMENTATION PERIOD:</h5>
        <p>from October 1, 2022, to October 1, 2023.</p>
        <br>
        <h5>CONTACT PERSON:</h5>
        <p>Stjepan Keleminec, Director <br>
            info@geometricus.hr</p>
    
        <br>
        <p class="text-light p-3 border">To ensure compliance with the principle of avoiding conflicts of interest, the Beneficiary GEOMETRICUS
            d.o.o. publishes Statements of the absence of conflicts of interest for responsible persons of the Beneficiary
            and members of the Procurement Procedure Implementation Commission for non-obligors of the Public
            Procurement Act: <br>
            <br>
            <a href="https://drive.google.com/file/d/1K5kLvmgSyBstsYHSXW8KzO3K2oXY4len/view?usp=drive_link" target="_blank">Statement of the absence of conflicts of interest – Stjepan Keleminec</a>
            <br>
            <a href="https://drive.google.com/file/d/1eWcVV9tIa15I82yiY7BCD3T9fEWmgnsq/view?usp=drive_link" target="_blank">Statement of the absence of conflicts of interest – David Perešin</a>
            <br>
            <a href="https://drive.google.com/file/d/1S8FC0BHBpqvObfCEzfg9g9ah8z7fnRqJ/view?usp=drive_link" target="_blank">Statement of the absence of conflicts of interest – Katarina Lisjak</a> </p>
        <br>
        <br>
    
        <h2>The project is co-financed by the European Union from the European
            Regional Development Fund (ERDF).</h2>
        <br>
        <div>
            The content of this page is the sole responsibility of the Beneficiary – GEOMETRICUS d.o.o., and does not
            reflect the views of the European Union.
        </div>
        <br><br>
        <a href="http://strukturnifondovi.hr/">http://strukturnifondovi.hr/</a>
        <br>
        <a href="https://strukturnifondovi.hr/eu-fondovi/esi-fondovi-2014-2020/op-konkurentnost-i-kohezija/">https://strukturnifondovi.hr/eu-fondovi/esi-fondovi-2014-2020/op-konkurentnost-i-kohezija/</a>
    
        <br>
        <br>
    
    </section>
    

