---
title: HydroGraphBoost Projects
description: Geometricus has implemented cutting-edge technology based on remote sensing with the support of the Norwegian Financial Mechanism under the Business Development and Innovation Croatia program.
layout: 'base-en.njk'
---




      <section id="hydrographboost">
        <div class="container mt-5 mt-md-7">
            <h1 class="text-center text-primary py-2">HydroGraphBoost Project</h1>
            <div>
                <div class="row my-5">
                    <div class="col-12 col-md-6">
                        <h2>About the Project</h2>
                        <h5>Project Organizer: Innovation Norway</h5>
                        <h5>Project Promoter: Geometricus d.o.o.</h5>
                        <h5>Project Code: HR-INNOVATION-0025</h5>
                        <br>
                        <h6>Part of the program <a href="https://eeagrants.org/archive/2014-2021/programmes/HR-INNOVATION" target="_blank"><span>Innovation, Research, Education, and Competitiveness</span></a></h6>
                    </div>
                    <div class="col-12 col-md-6 mt-5">
                        <h2>Project Status:</h2>
                        <h5>Completed</h5> <br>
                        <h5>Initial Project Costs: <br> €190,000 </h5>
                    </div>
                </div>
            </div>
            <div class="px-2">
                <p>
                    The main activities of GEOMETRICUS involve providing surveying services. Unlike most other surveying companies in Croatia, whose activities are mainly limited to basic surveying services (terrestrial geodesy and cartographic products that can be produced from data), Geometricus can perform a wider range of surveying services, including hydrographic measurements.
                </p>
                <p>
                    However, to obtain authorization for more complex hydrographic measurements (aimed at preventing further floods in Croatia), Geometricus, with the assistance of the Norwegian Financial Mechanism within the Business Development and Innovation Croatia program, has implemented cutting-edge technology based on remote sensing.
                </p>
                <p>
                    The technology currently used in Croatia is simply not suitable for preventive management, and methods of measuring and mapping water bodies mainly involve traditional terrestrial geodetic methods. This includes the use of poles, prisms, and total stations, implying the requirement to access the position of the sea or seabed, which is often not the case. Additionally, due to technical difficulties, measurements are not regularly performed, increasing the risk of floods.
                </p>
                <p>
                    By investing in new cutting-edge technology that applies remote sensing methods, such as LiDAR laser scanning (light detection and ranging), thermovision inspections, and others, and by creating "digital twins" of seas, coasts, rivers, lakes, and other water bodies, Geometricus will provide dynamic support in monitoring and maintaining seas and water bodies, thus preventing further floods.
                </p>
                <p>
                    With these new technologies, we are already securing new business arrangements and clients, and we anticipate an increase in employees, as well as higher revenues and profits.
                </p>
            </div>
    
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
    
                    <div class="col-md-4 ">
                        <img src="/image/hydrographboost/totalna-stanica-300x550.webp" alt="Aerophotogrammetric set on the M300 aircraft." class="img-fluid">
                        <div class="d-flex justify-content-center bg-primary bottom-0">
                            <p class="text-black mb-0 text-center">Aerophotogrammetric set on the M300 aircraft.</p>
                        </div>
                    </div>
    
    
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 py-3">
                                <img src="/image/hydrographboost/HydroGraphBoost-SET1.webp" alt="Aerophotogrammetric set on the M300 aircraft." class="img-fluid">
                                <div class="d-flex justify-content-center bg-primary bottom-0">
                                    <p class="text-black mb-0 text-center">Aerophotogrammetric set on the M300 aircraft.</p>
                                </div>
                            </div>
    
    
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 py-3">
                                <img src="/image/hydrographboost/wassp-s3pr-300x250.webp" alt="Installation process of the WASSP S3PR system on a ship." class="img-fluid">
                                <div class="d-flex justify-content-center bg-primary bottom-0">
                                    <p class="text-black mb-0 text-center">Installation process of the WASSP S3PR system on a ship.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 py-3">
                                <img src="/image/hydrographboost/innovation-norway-pc-300x250.webp" alt="High-performance computer: Intel i9 13900K, 128GB DDR5 RAM, RTX 3060TI, 1TB SSD" class="img-fluid">
                                <div class="d-flex justify-content-center bg-primary bottom-0">
                                    <p class="text-black mb-0 text-center">High-performance computer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="mt-4">
                <p>We would like to express our gratitude for the trust shown by Innovation Norway, and we will demonstrate high professionalism and competitiveness in the market in the coming years.</p>
            </div>
    
        </section>
    


