<div class="container-md mt-5 p-0">
    <footer class="text-lg-start bg-white">
      <div class="container-fluid p-4">
        <div class="row mt-0 mt-lg-4">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 text-black">
            <h5 class="text-uppercase">Geometricus d.o.o</h5>
            <div class="d-flex gap-3 mb-4">
              <a href="#"
                ><i class="footer-ikone fs-5 fa-brands fa-facebook"></i
              ></a>
              <a href="#"
                ><i class="footer-ikone fs-5 fa-brands fa-instagram"></i
              ></a>
              <a href="#"
                ><i class="footer-ikone fs-5 fa-brands fa-linkedin"></i
              ></a>
            </div>

            <p class="text-black">
              Kroz niz godina konstantno usavršavamo naš pristup klijentima.
              Naš tim se trenutno sastoji od 8 inženjera geodezije te 3
              stručna suradnika. Svi djelatnici imaju položenu A1/A2/A3
              otvorenu kategoriju za izvođenje letačkih operacija na
              području Europe.
            </p>

            <p class="text-black">
              Smatramo da uz naše iskustvo, pouzdanost, visoku kvalitetu i
              brzinu isporuke konačnog proizvoda spadamo u sam vrh
              geodetskih tvrtki u državi.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <ul class="fa-ul" style="margin-left: 1.65em">
              <li class="mb-3 d-flex flex-column justify-content-center">
                <span class="fa-li fs-5"
                  ><i class="fa-solid fa-building text-black"></i
                ></span>
                <span class="fs-5 text-black">Sjedište</span>
                <p class="text-black mb-0">Ferovac 32, 34340 Kutjevo</p>
                <p class="text-black">
                  <span class="fw-semibold text-black">OIB:</span>
                  28104778956
                </p>
              </li>
              <li class="mb-3 flex-column justify-content-center">
                <span class="fa-li fs-5"
                  ><i class="fas fa-home text-black"></i
                ></span>
                <span class="fs-5 text-black">Ured Požega</span>
                <p class="text-black mb-0">Županijska 4, 34000 Požega</p>
              </li>
              <li class="mb-3 flex-column justify-content-center">
                <span class="fa-li fs-5"
                  ><i class="fas fa-home text-black"></i
                ></span>
                <span class="fs-5 text-black">Ured Zagreb</span>
                <p class="text-black mb-0">
                  Odra, Odranska ulica 62, 10020 Novi Zagreb
                </p>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-2 text-black">Radno Vrijeme</h5>

            <table class="table">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Pon - Pet:</td>
                  <td>07 - 15h</td>
                </tr>
              </tbody>
            </table>

            <h5 class="text-uppercase mb-2 text-black">Ovlaštene Osobe</h5>
            <p class="text-black mb-0">
              <span class="fw-semibold text-black">Vlasnik:</span>
              Stjepan Keleminec
            </p>
            <p class="text-black">
              <span class="fw-semibold text-black">Direktor:</span>
              David Perešin
            </p>

            <h5 class="text-uppercase mb-2 text-black">INFO</h5>
            <p class="text-black mb-0">
              <span class="fw-semibold text-black">Email:</span>
              info@geometricus.hr
            </p>
            <p class="text-black mb-0">
              <span class="fw-semibold text-black">Kontakt Broj:</span>
              +385995461424 , <br />Stjepan Keleminec
            </p>
          </div>
        </div>
      </div>

      <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        © 2023 Copyright:
        <a class="text-white" href="https://geometricus.hr/"
          >Geometricus d.o.o</a
        >
      </div>
      <div class="text-center" style="background-color: rgba(0, 0, 0, 0.2)">
        <small class="text-muted"
          >Made by:
          <a
            class="text-black"
            href="https://www.linkedin.com/in/arijanjanes/"
            >Arijan Janeš</a
          ></small
        >
      </div>
    </footer>
  </div>