<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Saira:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/32c0f3b9ec.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

    <!--SPLIDE SLIDER-->
    <script src="
  https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
  "></script>
    <link
      href="
  https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
  "
      rel="stylesheet"
    />

    <!--ANIMATE ON SCROLL-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!--faviconIcon-->
    <link
      rel="shortcut icon"
      href="/image/favicon/favicon.ico"
      type="image/x-icon"
    />
    <!--META TAGS-->
    <meta
      name="robots"
      content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
    />
    <meta
      name="description"
      content="{{ description }}"
    />
    <!--OPEN GRAPH-->
    <meta property="og:title" content="Geometricus d.o.o - {{ title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://geometricus.hr/" />
    <meta property="og:image" content="" />
    <!--TREBA DODAT KAD SE UPLOADA-->
    <meta
      property="og:description"
      content="{{ description }}"
    />
    <!--Twitter card oznake, treba dodat kad se uploada + ako se bude radio Twitter nekad u buducnosti-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Geometricus d.o.o - {{ title }}" />
    <meta
      name="twitter:description"
      content="{{ description }}"
    />
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>Geometricus d.o.o - {{ title }}</title>
  </head>

  <body>

    {% include 'header.njk' %}
    <main>
    {{ content | safe }}


        <!--Overlay kad se klikne navigation bar na mobitelu-->
        <div class="overlay"></div>

  </main>
    {% include 'footer.njk' %}




      <script src="https://unpkg.com/cocoen/dist/cocoen.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="/script.js"></script>


    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>