<nav
class="container-md navbar navbar-expand-md mx-auto justify-content-between"
>
<a id="nav-logo" class="navbar-brand" href="/en/index.html"
  ><img
    src="/image/geometricus-logo-transparent-white.webp"
    alt="Geometricus Logo"
/></a>
<div class="text-uppercase d-none d-md-block">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item mx-2">
      <a class="nav-link" href="#usluge">Services</a>
    </li>
    <li class="nav-item mx-2 dropdown">
      <a
        class="nav-link dropdown-toggle text-light"
        href="#"
        id="projektiDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Projects
      </a>
      <div class="dropdown-menu" aria-labelledby="projektiDropdown">
        <a class="dropdown-item" href="/en/hydrographboost/"
          >HydroGraphBoost</a
        >
        <a class="dropdown-item" href="/en/spatialsupervision/"
          >SpatialSuperVision</a
        >
        <a class="dropdown-item" href="/en/eu-petrinja/"
          >KK.08.2.1.16.0149</a
        >
      </div>
    </li>

    <li class="nav-item mx-2">
      <a class="nav-link" href="/en/blog">News</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="#kontakt">Contact</a>
    </li>
    <li class="nav-item mx-2">
      <a class="nav-link" href="/index.html"
        >HR
        <img
          src="/image/croatia-flag.webp"
          alt="Croatia Flag"
          style="max-height: 20px"
        />
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/en/index.html"
        >ENG
        <img
          src="/image/england-flag.webp"
          alt="UK Flag"
          style="max-height: 20px"
        />
      </a>
    </li>
  </ul>
</div>

<div class="menu-btn fs-1 mx-3 mx-sm-5">
  <i class="fa-solid fa-bars"></i>
</div>
<div class="close-btn fs-1 mx-3 mx-sm-5">
  <i class="fa-solid fa-x"></i>
</div>

<ul id="navigationLista">
  <li><a href="#usluge">Services</a></li>
  <li class="dropdown" data-bs-theme="dark">
    <a
      class="dropdown-toggle"
      href="#"
      id="projektiDropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Projects
    </a>
    <div
      class="dropdown-menu left-negative-margin"
      aria-labelledby="projektiDropdown"
    >
      <a class="dropdown-item text-light fs-5" href="/en/hydrographboost/"
        >HydroGraphBoost</a
      >
      <a
        class="dropdown-item text-light fs-5"
        href="/en/spatialsupervision/"
        >SpatialSuperVision</a
      >
      <a class="dropdown-item text-light fs-5" href="/en/eu-petrinja/"
        >KK.08.2.1.16.0149</a
      >
    </div>
  </li>
  <li><a href="/en/blog/">News</a></li>
  <li><a href="#kontakt">Contact</a></li>
  <li>
    <a href="/index.html"
      >HR
      <img
        src="/image/croatia-flag.webp"
        alt="Croatia Flag"
        style="max-height: 20px"
    /></a>
  </li>
  <li>
    <a href="/en/index.html"
      >ENG
      <img
        src="/image/england-flag.webp"
        alt="UK Flag"
        style="max-height: 20px"
    /></a>
  </li>
</ul>
</nav>