---
title: rok za dostavu
image: /image/blog/grad-kutina-novosti.webp
tags: ["post", "featured"]
imageAlt: image alternativi tekst
autor: info@geometricus.hr
opis: Krajnji rok za dostavu dokumentacije o zgradama u Kutini - 02.06
---
