---
title: HydroGraphBoost Projekt
description: Geometricus je implementirao naprednu tehnologiju temeljenu na daljinskom osjetilu uz podršku Norveškog financijskog mehanizma u sklopu programa Razvoj poduzetništva i inovacija u Hrvatskoj.
layout: 'base.njk'
---

        <section id="hydrographboost">
            <div class="container mt-4 mt-md-7">
                <h1 class="text-center text-primary py-2">HydroGraphBoost projekt</h1>
                <div>
                    <div class="row my-5">
                        <div class="col-12 col-md-6">
                            <h2>O projektu</h2>
                            <h5>Organizator projekta: Innovation Norway</h5>
                            <h5>Promotor projekta: Geometricus d.o.o.</h5>
                            <h5>Oznaka projekta: HR-INNOVATION-0025</h5>
                            <br>
                            <h6>U sklopu programa <a href="https://eeagrants.org/archive/2014-2021/programmes/HR-INNOVATION" target="_blank"><span>Inovacija, istraživanje, edukacija i kompetitivnost</span></a></h6>
                        </div>
                        <div class="col-12 col-md-6 mt-5">
                            <h2>Status projekta:</h2>
                            <h5>Kompletiran</h5> 
                            <br/>
                            <h5>Inicijalni troškovi projekta: <br> €190,000 </h5>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                    Glavne aktivnosti tvrtke GEOMETRICUS su pružanje geodetskih usluga. Za razliku od većine drugih geodetskih tvrtki u Hrvatskoj, čije su aktivnosti uglavnom ograničene na osnovne geodetske usluge (terestrička geodezija i kartografski proizvodi koji se mogu proizvesti iz podataka), Geometricus može obavljati širi raspon geodetskih usluga, uključujući hidrografska mjerenja. <br>
                    </p>
                    <p>
                    Međutim, da bi mogli dobiti ovlaštenje za složenija hidrografska mjerenja (koja bi omogućila sprečavanje daljnjih poplava u Hrvatskoj), Geometricus je uz pomoć <b>Norveškog financijskog mehanizma u sklopu programa Business Development and Innovation Croatia</b> implementirao vrhunsku tehnologiju koja se temelji na daljinskom istraživanju. <br> 
                    </p>
                    <p>
                    Tehnologija koja se trenutno koristi u Hrvatskoj jednostavno nije prikladna za preventivno upravljanje, a metode mjerenja i kartografiranja vodenih tijela uglavnom uključuju klasične terestričke geodetske metode. To uključuje uporabu štapa, prizme i totalne stanice, a implicira zahtjev da se može pristupiti poziciji mora ili morskog dna, što često nije slučaj. Osim toga, zbog tehničkih poteškoća, mjerenja se ne obavljaju redovito, što povećava rizik od poplava. <br>
                    </p>
                    <p>
                    Ulaganjem u novu vrhunsku tehnologiju koja primjenjuje metode daljinskog istraživanja, poput laserskog skeniranja LiDAR-om (detektiranje svjetlosti i određivanje udaljenosti), termovizijske inspekcije i drugih, te stvaranjem "digitalnih blizanaca" mora, obale, rijeka, jezera i drugih vodenih tijela, Geometricus će pružati dinamičnu podršku u praćenju i održavanju mora i vodenih tijela te time spriječiti daljnje poplave. <br>
                    <p>
                    </p>
                    Novim tehnologijama već stječemo nove poslovne aranžmane i nove klijente, a očekujemo rast zaposlenih te povećane prihode i dobiti. <br>
                    </p>
                </div>

                     <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
            
                      <div class="col-md-4 ">
                        <img src="/image/hydrographboost/totalna-stanica-300x550.webp" alt="Aerofotogrametrijski set na letjelici M300." class="img-fluid">
                        <div class="d-flex justify-content-center  bg-primary bottom-0">
                            <p class="text-black mb-0 text-center">Aerofotogrametrijski set na letjelici M300.</p>
                        </div>
                      </div>
                    
                
                      <div class="col-md-8">
                        <div class="row">
                          <div class="col-md-12 col-sm-12 py-3">
                            <img src="/image/hydrographboost/HydroGraphBoost-SET1.webp" alt="Aerofotogrametrijski set na letjelici M300." class="img-fluid">
                            <div class="d-flex justify-content-center bg-primary bottom-0">
                                <p class="text-black mb-0 text-center">Aerofotogrametrijski set na letjelici M300.</p>
                            </div>
                          </div>

    
                        </div>
                        <div class="row">
                          <div class="col-md-6 col-sm-6 py-3">
                            <img src="/image/hydrographboost/wassp-s3pr-300x250.webp" alt="Proces montiranja WASSP S3PR sustava na brod." class="img-fluid">
                            <div class="d-flex justify-content-center bg-primary bottom-0">
                                <p class="text-black mb-0 text-center">Proces montiranja WASSP S3PR sustava na brod.</p>
                            </div>
                          </div>
                          <div class="col-md-6 col-sm-6 py-3">
                            <img src="/image/hydrographboost/innovation-norway-pc-300x250.webp" alt="Računalo visokih performansi: Intel i9 13900K, 128GB DDR5 RAM, RTX 3060TI, 1TB SSD" class="img-fluid">
                            <div class="d-flex justify-content-center bg-primary bottom-0">
                                <p class="text-black mb-0 text-center">Računalo visokih performansi</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
   
                <!-- <div class="gallery d-flex row justify-content-center align-items-center">
                    <div class="col-md-4">
                        <div class="item"><a href=""><img src="/image/hydrographboost/totalna-stanica-300x500.webp" alt="" class="w-100"> </a></div>
                        <div class="d-flex justify-content-center bg-primary bottom-0">
                          <p class="text-black mb-0 text-center">Aerofotogrametrijski set na letjelici M300.</p>
                      </div>

                    </div>
                <div class="row col-md-8">
            
                    <div class="col-md-6 col-sm-6 ">
                      <div class="item"><a href=""><img src="/image/hydrographboost/matriceP1-300x250.webp" alt="" class="w-100"> </a></div>
                      <div class="d-flex justify-content-center bg-primary bottom-0">
                        <p class="text-black mb-0 text-center">Aerofotogrametrijski set na letjelici M300.</p>
                    </div>
                    </div>
                    <div class="col-md-6 col-sm-6 ">
                      <div class="item"><a href=""><img src="/image/hydrographboost/pc-300x250.webp" alt="" class="w-100"> </a></div>
                      <div class="d-flex justify-content-center bg-primary bottom-0">
                        <p class="text-black mb-0 text-center">Računalo visokih performansi: Intel i9 13900K, 128GB DDR5 RAM, RTX 3060TI, 1TB SSD</p>
                    </div>
                    </div>
                    <div class="col-md-6 col-sm-6 ">
                      <div class="item"><a href=""><img src="/image/hydrographboost/riegel-minivux-300x250.webp" alt="" class="w-100"> </a></div>
                      <div class="d-flex justify-content-center bg-primary bottom-0">
                        <p class="text-black mb-0 text-center">Riegl MiniVux 3 LiDAR senzor.</p>
                    </div>
                    </div>
                    <div class="col-md-6 col-sm-6 ">
                        <div class="item"><a href=""><img src="/image/hydrographboost/wassp-s3pr-300x250.webp" alt="" class="w-100"> </a></div>
                        <div class="d-flex justify-content-center bg-primary bottom-0">
                            <p class="text-black mb-0 text-center">Proces montiranja WASSP S3PR sustava na brod.</p>
                        </div>
                    </div>
                  </div>
                </div> -->
    
                    <div class="mt-4">
                    <p>Ovom prilikom zahvaljujemo se na ukazanom povjerenju Innovation Norway-a te ćemo dokazati visoku profesionalnost i konkuretnost na tržištu kroz godine koje dolaze. </p>
                </div>
        
                
                    
                
        
        </section>



