---
title: Geodetske Usluge
description: Geodetske usluge - projektiranje, nadzor, izrada geodetskih elaborata, 3D lasersko skeniranje, LiDAR, fotogrametrija, hidrografija, lociranje podzemnih vodova, GIS, geoinformatika. Geodet - Požega, Zagreb.
layout: 'base.njk'
---

   

      <!--LANDING SECTION-->
      <div
        class="container-md mx-auto mt-5 mt-sm-7 d-flex flex-column flex-lg-row align-items-center gap-2 gap-md-5"
      >
        <div class="col">
          <h1 class="fw-medium mb-4">GEOMETRICUS d.o.o</h1>
          <p>
            Osnovani 2011. godine sa središtem u Požegi, bavimo se svim vrstama
            geodetskih poslova. Posjedujemo suglasnost Državne Geodetske Uprave
            za obavljanje.
          </p>
          <p>
            Svi zaposleni inženjeri su upisani u Hrvatsku Komoru Ovlaštenih
            Inženjera Geodezije.
          </p>
          <p>
            U Geometricusu vjerujemo da su prostorni podaci ono što Vama pomaže
            da postignete svoj puni potencijal stoga težimo za kvalitetom,
            inovacijama i najsuvremenijom tehnologijom.
          </p>
        </div>
        <div class="col">
          <img
            src="image/frontpage.webp"
            alt="LiDAR mapa javne ceste"
            class="w-100"
          />
        </div>
      </div>

      <!--banner-->
      <div class="container-md">
        <img
          src="image/geometricus-landing-banner.webp"
          class="w-100"
          alt="Innovation Norway, Europski strukturni i investicijski fondovi, operativni program konkurentnost i kohezija, Europska Unija zajedno do EU fondova"
        />
      </div>

      <div class="container-md d-flex flex-column align-items-center mt-3 mt-md-0">
        <h2 class="fs-1 text-center text-uppercase">Novosti</h2>
       
        {%- for post in collections.featured | reverse -%}

        {% include 'article-snippet.njk' %}

    {% endfor %}

        <div class="d-flex justify-content-center">
          <a href="/blog/">
          <button type="button" class="btn btn-primary btn-block btn-lg">
           Pročitaj sve obavijesti
          </button>
        </a>
        </div>
      </div>

      <div class="container-fluid mt-5 pt-0 pt-md-7 px-0">
        <h2 class="fs-1 text-center text-uppercase" id="usluge">Usluge</h2>
        <p class="text-uppercase fs-5 my-4 text-secondary text-center">
          Što Nudimo
        </p>

        <div
          class="mt-3 container-fluid lidar-mapiranje-bg py-4 py-lg-5 position-relative"
        >
          <div class="container-md p-0">
            <h2 class="text-center mb-md-7 mb-lg-4 text-primary fw-semibold">
              LiDAR mapiranje
            </h2>
            <div
              class="container d-flex mb-7 mt-md-7 mt-5 flex-column-reverse flex-lg-row align-items-center gap-4"
            >
              <div
                class="image-wrap w-100 bg-black"
                data-aos="fade-right"
                data-aos-duration="1000"
              >
                <div class="col-md-12">
                  <div class="row">
                    <div class="d-none d-sm-block col-md-12 col-sm-12 py-1">
                      <img
                        src="image/screen2.webp"
                        alt="LiDAR terenska mapa"
                        class="img-fluid"
                        loading="lazy"
                      />
                    </div>
                    <div class="d-sm-none col-md-12 col-sm-12 py-1">
                      <img
                        src="image/screen2-mob.webp"
                        alt="LiDAR terenska mapa"
                        class="img-fluid"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 py-1">
                      <img
                        src="image/riegl-air-photo.webp"
                        alt="Riegl Drona"
                        class="img-fluid"
                        loading="lazy"
                      />
                    </div>
                    <div class="col-md-6 col-sm-6 py-1">
                      <img src="image/lidar-terrain.webp"" alt="RIEGL Dron VUX
                      Series LiDAR" class="img-fluid" loading="lazy">
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="width-50 pozadina-transparentnost"
                data-aos="fade-left"
                data-aos-duration="1000"
              >
                <h3
                  class="fs-1 fw-semibold border-bottom text-center mb-4 d-xxl-none"
                >
                  SKENIRANJE IZ ZRAKA
                </h3>
                <p>
                  Ulažući u najmodernije senzore pružamo usluge LiDAR skeniranja
                  iz zraka.
                </p>

                <p>
                  Glavna karakteristika ove tehnologije je iznimno brzo
                  prikupljanje topografskih podataka sa velikih visina,
                  kvalitetni senzori austrijske firme RIEGL omogućava prodiranje
                  i kroz najgušću vegetaciju sa preciznošću od 5mm.
                </p>
                <p>
                  Sustav se, ovisno o zadatku I prostornoj rezoluciji, montira
                  na dron/helikopter/avion te omogućuje prikupljanje podataka za
                  sve inženjerske potrebe – prikupljanje podataka za
                  niskogradnju cesta i željeznica, digitalne blizance gradova,
                  arheologiju, arhitekturu, šumarstvo, elektroenergetiku itd.
                </p>
                <p>
                  Fleksibilnost našeg sustava omogućuje njegovo montiranje na
                  različite platforme poput dronova, helikoptera ili aviona,
                  prilagođavajući se specifičnostima zadatka i potrebnoj
                  prostornoj rezoluciji. Ovaj pristup omogućuje prikupljanje
                  visokokvalitetnih podataka za različite inženjerske potrebe.
                </p>
                <p>
                  Primjerice, u području niskogradnje cesta i željeznica, naš
                  LiDAR sustav pruža ključne informacije koje olakšavaju
                  planiranje i izgradnju infrastrukture. Za urbanističke
                  potrebe, omogućuje stvaranje digitalnih blizanaca gradova,
                  pružajući precizne podatke o topografiji i strukturi terena.
                </p>
              </div>
            </div>

            <div
              class="container mb-md-5 d-flex flex-column flex-lg-row align-items-center gap-4 position-relative"
            >
              <div
                class="width-50 pozadina-transparentnost"
                data-aos="fade-right"
                data-aos-duration="1000"
              >
              <h3
              class="fs-1 fw-semibold border-bottom text-center mb-4 d-xxl-none"
            >
              TERESTRIČKO I MOBILNO SKENIRANJE
            </h3>
                <p>
                  Terestrički LiDAR se koristi za skeniranje unutrašnjosti
                  građevina, teško dostupnih područja i vanjskih fasada i
                  pročelja u svrhu arhitekture. Naš sustav omogućuje iznimno
                  brze intervale skeniranja od samo 30 sekundi po stajalištu, s
                  dometom od 1 km i milimetarskom preciznošću. Ova tehnologija
                  je ključna za detaljno mapiranje prostornih karakteristika
                  objekata, pružajući arhitektima i inženjerima visoko precizne
                  podatke za planiranje i dizajn.
                </p>

                <p>
                  Mobilni LiDAR, s druge strane, pruža nezamjenjivu podršku u
                  planiranju prometnica, provjeri izvedenih radova, praćenju
                  pomaka i deformacija na prometnicama i nasipima te analizi
                  područja uz rijeku ili na morskoj obali gdje postoji opasnost
                  od poplava. Također, koristi se kod analize stanja kolnika i
                  izračuna kubature materijala potrebnih za sanaciju.
                </p>
                <p>
                  Ovaj mobilni sustav dopunjuje snimanje iz zraka na mjestima
                  gdje je pristup ograničen, poput guste gradske okoline,
                  podzemnih garaža, tunela, podnožja mostova i sličnih lokacija
                  Naš sustav mobilnog LiDAR-a odlikuje visoka brzina dualnog
                  skenera koji generira čak 2 milijuna točaka po sekundi,
                  pružajući impresivnu preciznost od 1 mm Ovakva kirurška
                  preciznost omogućava brzu detekciju sitnih deformacija na svim
                  vrstama građevina, čineći mobilni LiDAR ključnim alatom u
                  inženjerskim i infrastrukturnim projektima.
                </p>
              </div>
              <div
                class="image-wrap w-100 bg-black"
                data-aos="fade-left"
                data-aos-duration="1000"
              >
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 py-1">
                      <img
                        src="image/pegasus-trk700-photo.webp"
                        alt="Pegasus TRK700 EVO Sustav za mobilno mapiranje"
                        class="img-fluid"
                        loading="lazy"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12 py-1">
                      <video
                        autoplay
                        loop
                        muted
                        src="image/rijeka-video.mp4"
                        style="width: 100%"
                        loading="lazy"
                      ></video>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="position-absolute top-margin animate-right-to-left d-none d-xxl-block"
          >
            <h3 class="fs-1 fw-semibold text-center mb-4">
              SKENIRANJE IZ ZRAKA
            </h3>
          </div>

          <div
            class="position-absolute bottom-0 d-none animate-left-to-right d-xxl-block"
          >
            <h3 class="fs-1 fw-semibold text-center mb-4">
              TERESTRIČKO I MOBILNO SKENIRANJE
            </h3>
          </div>
        </div>

        <div
        class="container-fluid underground-bg py-4 py-lg-5 position-relative"
      >
        <div class="container-md p-0">
          <h2
            class="text-center mb-5 mb-md-7 mb-lg-4 text-primary fw-semibold"
          >
            Podzemno mapiranje i detekcija
          </h2>
          <div
            class="container d-flex mb-md-7 flex-column flex-lg-row align-items-center gap-4"
          >
            <div
              class="width-50"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <!-- <h3
                class="fs-1 fw-semibold border-bottom text-center mb-4 d-xxl-none"
              >
                PODZEMNO MAPIRANJE
              </h3> -->
              <p>
                Ground Penetrating Radar (GPR) radi tako da radar šalje
                pulseve različitih frekvencija u tlo i mjeri povrat
                reflektiranih signala. Strukture ispod površine vraćaju
                drugačiji signal od okolnih materijala zbog razlika u
                permitivnosti materijala.
              </p>
              <p>
                Ova je tehnologija idealna za lociranje nevodljivih materijala
                ili komunalnih objekata, za provođenje pregleda širokih
                područja za indikativno otkrivanje mogućih podzemnih dobara u
                područjima bez postojećih zapisa. Geometricus koristi niz
                različitih GPR rješenja ovisno o aplikaciji.
              </p>
              <p>
                Naš vodeći GPR, IDS StreamUP u kombinaciji s IQMaps softverom,
                daje nevjerojatne rezultate u svim područjima. Za teže
                dostupna mjesta koristimo GPR sustav na bespilotnoj letjelici.
              </p>
            </div>
            <div
              class="image-wrap w-100 bg-black"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-sm-12 py-1">
                    <img
                    src="image/underground3.gif"
                    alt="Podzemno skeniranje"
                    class="img-fluid"
                    loading="lazy"
                  />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 py-1">
                    <img
                      src="image/underground-scan.webp"
                      alt="Podzemno skeniranje"
                      class="img-fluid"
                      loading="lazy"
                    />
                  </div>
                  <div class="col-md-6 col-sm-6 py-1">
                    <img src="image/underground-drone.webp"" alt="Dron za
                    podzemno skeniranje" class="img-fluid" loading="lazy">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="position-absolute bottom-0 d-none animate-left-to-right d-xxl-block"
        >
          <h3 class="fs-1 fw-semibold text-center mb-4">
            PODZEMNO MAPIRANJE
          </h3>
        </div>
      </div>

      <div class="container-fluid ortofoto-bg py-4 py-lg-5">
        <div class="container-md p-0">
          <h2 class="text-center mb-4 text-primary fw-semibold">
            RGB ortofoto i sferne snimke
          </h2>
          <div
            class="container d-flex mt-md-7 flex-column-reverse flex-lg-column gap-4"
          >
            <div
              class="image-wrap w-100 bg-black"
              data-aos="fade-left"
              data-aos-duration="1000"
            >
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <img
                      src="image/ortho2.webp"
                      alt="Ortofoto slika"
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="row">
                  <div
                    class="d-none d-md-block col-md-12 col-sm-12 position-relative"
                  >
                    <video
                      class="video-hoverplay"
                      loop
                      muted
                      src="image/driving-terrain-scan.mp4"
                      style="width: 100%"
                      loading="lazy"
                    ></video>
                    <i
                      class="fa-solid fa-play position-absolute top-50 end-50 fs-1 text-primary play-button"
                    ></i>
                  </div>
                  <div
                    class="d-md-none col-md-12 col-sm-12 position-relative"
                  >
                    <video
                      autoplay
                      loop
                      muted
                      src="image/driving-terrain-scan.mp4"
                      style="width: 100%"
                      loading="lazy"
                    ></video>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="w-100"
              data-aos="fade-left"
              data-aos-duration="1000"
            >
              <p>
                Za sve vrste vaših projekata pružamo vrhunske usluge snimanja
                visoke rezolucije, koristeći najnoviju tehnologiju i opremu.
              </p>
              <p>
                Naša visokokvalitetna PhaseOne kamera omogućuje nam stvaranje
                geometrijski točnih i 2D mjerljivih ortofota, pružajući vam
                detaljne i precizne snimke potrebne za različite inženjerske i
                dizajnerske projekte. Ove snimke osiguravaju visok stupanj
                preciznosti u analizi terena, omogućujući vam brzo i pouzdano
                planiranje i izvođenje projekata.
              </p>
              <p>
                Dodatno, nudimo precizno kalibrirane sferne snimke koje se
                mogu integrirati u razne inženjerske i dizajnerske programe.
                Ova vrsta snimaka pruža dublji uvid u prostorne
                karakteristike, olakšavajući procese poput projektiranja i
                planiranja. S našim kalibriranim sfernim snimkama, možete biti
                sigurni u točnost podataka koje koristite u svojim projektima.
              </p>
              <p>
                Kao inovatori u području vizualizacije, također nudimo
                mogućnost izrade digitalnih VR šetnji na prometnicama, unutar
                interijera i slično. Ova tehnologija pruža imerzivno iskustvo
                istraživanja prostora, što je posebno korisno u planiranju
                arhitektonskih i urbanističkih projekata. Digitalne VR šetnje
                omogućuju vam da stvarate i dijelite realistične simulacije
                okoline, pridonoseći boljem razumijevanju i vizualizaciji
                vaših projektnih ideja.
              </p>
            </div>
          </div>
        </div>
      </div>
      
        <div class="container-fluid multispectral-bg py-4 py-lg-5">
          <div class="container-md p-0">
            <h2 class="text-center mb-md-7 mb-4 text-primary fw-semibold">
              Multispektralni, termalni, magnetometrijski senzori te senzori za
              mjerenje kakvoće zraka
            </h2>
            <div
              class="container d-flex mb-md-7 mt-md-7 mt-5 flex-column-reverse flex-lg-column align-items-center gap-4"
            >
              <div
                class="image-wrap w-100 bg-black"
                data-aos="fade-left"
                data-aos-duration="1000"
              >

              <div class="cocoen">
                <img src="image/river-rgb.webp" alt="River RGB" />
                <img src="image/river-cir.webp" alt="River CIR" />
              </div>
               
              </div>
              <div class="w-100" data-aos="fade-left" data-aos-duration="1000">
                <p>
                  Koristeći napredne sustave za inspekciju montirane na
                  bespilotne letjelice, pružamo visokokvalitetne usluge koje
                  obuhvaćaju širok spektar područja:
                </p>
                <ul class="list-unstyled">
                  <li class="d-flex align-items-center mb-3">
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Multispektralni uvid u kvalitetu poljoprivrednih i šumskih
                    zemljišta predstavlja jednu od naših ključnih usluga. Naši
                    bespilotni sustavi opremljeni su visokoresolucijskim
                    multispektralnim senzorima koji omogućuju precizno mapiranje
                    različitih karakteristika tla, biljaka i usjeva. Ova
                    tehnologija pruža poljoprivrednicima i šumarskim
                    stručnjacima dragocjene informacije o stanju zemljišta,
                    vegetacije, te eventualnim problemima poput bolesti ili
                    nedostatka hranjivih tvari. Naša sposobnost brze i precizne
                    analize pomaže optimizaciji uzgoja, povećava produktivnost
                    te doprinosi održivom gospodarenju resursima.
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Termalne inspekcije krovišta i građevinskih konstrukcijskih
                    elemenata također su sastavni dio naše ponude. Bespilotne
                    letjelice opremljene termalnim kamerama omogućuju detaljan
                    pregled temperatura na površini krovišta, fasada i drugih
                    konstrukcijskih elemenata. Ova tehnologija omogućuje rano
                    otkrivanje potencijalnih problema poput toplinskih
                    propuštanja, curenja vode ili oštećenja izazvanih vremenskim
                    uvjetima. Brza i efikasna termalna inspekcija pomaže u
                    sprječavanju ozbiljnijih oštećenja, produžava životni vijek
                    građevinskih elemenata te pridonosi održivosti objekata.
                  </li>
                  <li class="d-flex align-items-center mb-3">
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i>
                    Uz našu predanost inovacijama i visokim standardima
                    kvalitete, osiguravamo da naše usluge inspekcije iz zraka
                    pružaju korisnicima precizne i relevantne informacije za
                    optimizaciju njihovih poslovnih procesa i očuvanje resursa.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

 

      

        <div class="container-fluid hidrografija-bg py-4 py-lg-5">
          <div class="container-md p-0">
            <h2 class="text-center mb-4 text-primary fw-semibold">
              Hidrografija
            </h2>
            <div
              class="container d-flex mb-md-7 flex-column-reverse flex-lg-row align-items-center gap-4"
            >
              <div
                class="image-wrap w-100 bg-black"
                data-aos="fade-right"
                data-aos-duration="1000"
              >
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <img
                        src="image/hidrografija1.webp"
                        alt="Hidrografija Dron"
                        class="img-fluid"
                      />
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <img src="image/hidrografija2.webp"" alt="Hidrografija
                      Dron" class="img-fluid">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <img
                        src="image/hidrografija-oprema.webp"
                        alt="Innovation Norway Hidrografija oprema"
                        class="img-fluid"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="width-50"
                data-aos="fade-left"
                data-aos-duration="1000"
              >
                <p>
                  WASSP S3PR Multibeam Echosounder (MBES) namjenski je
                  napravljen za geodetsko mapiranje i istraživanje. Simultanim
                  generiranjem do 100 pingova u sekundi pri kutu od 120
                  stupnjeva te uključivanjem napredne obrade signala s lakoćom
                  vidimo potpunu i točnu sliku podvodne batimetrije.
                </p>
                <p>
                  Ovaj sustav idealan je za: detaljno batimetrijsko
                  istraživanje, istraživanje luka i upravljanje kanalima,
                  jaružanje, inspekciju pomorske infrastrukture, istraživanje
                  olupina i operacije traganja i spašavanja.
                </p>
                <p>
                  Za snimanje teško dostupnih područja koristimo dvofrekventni
                  echo-sounder montiran na bespilotnu letjelicu.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid inzenjerska-geodezija-bg py-4 py-lg-5">
          <div class="container-md p-0">
            <h2 class="text-center mb-4 text-primary fw-semibold">
              Inženjerska Geodezija
            </h2>
            <div
              class="container d-flex mb-md-7 flex-column flex-lg-row align-items-center gap-4"
            >
              <div
                class="width-75"
                data-aos="fade-right"
                data-aos-duration="1000"
              >
                <p>
                  Primjena mjernih sustava u projektiranju i izgradnji objekata
                  te praćenju pomaka i deformacija pri izgradnji i
                  eksploataciji.
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Podloge za izvedbeni i glavni projekt
                  </li>
                  <li class="d-flex align-items-center">
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Niskogradnja - ceste, autoceste, mostovi, tuneli, ...
                  </li>
                  <li class="d-flex align-items-center">
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Visokogradnja - zgrade, industrijska postrojenja, stadioni,
                    ...
                  </li>
                  <li class="d-flex align-items-center">
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Energetika - dalekovodi, plinovodi, naftovodi,
                    hidroelektrane, ...
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Uspostava geodetske mreže
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Precizna iskolčenja objekata
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Izrada posebnih geodetskih podloga
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Lociranje vodova
                  </li>
                </ul>
              </div>
              <div
                class="image-wrap w-100 bg-black"
                data-aos="fade-right"
                data-aos-duration="1000"
              >
                <div class="col-md-12">
                  <section
                    class="splide"
                    id="splideIG"
                    aria-label="Inženjerska Geodezija Splide"
                  >
                    <div class="splide__track">
                      <ul class="splide__list">
                        <li class="splide__slide">
                          <img
                            src="image/inzenjerska-geodezija1.webp"
                            class="w-100"
                            alt="Topcon Hiper HR, podloga za projektiranje"
                          />
                        </li>
                        <li class="splide__slide">
                          <img
                            src="image/inzenjerska-geodezija2.png"
                            class="w-100"
                            alt="Računanje Kubatura"
                          />
                        </li>
                        <li class="splide__slide">
                          <img
                            src="image/inzenjerska-geodezija3.png"
                            class="w-100"
                            alt="Totalna stanica, iskolčavanje"
                          />
                        </li>
                      </ul>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid katastarske-usluge-bg py-4 py-lg-5">
          <div class="container-md p-0">
            <h2 class="text-center mb-4 text-primary fw-semibold">
              Katastarske Usluge
            </h2>
            <div
              class="container d-flex mb-md-7 flex-column-reverse flex-lg-row align-items-center gap-4"
            >
              <div
                class="image-wrap w-100 bg-black"
                data-aos="fade-right"
                data-aos-duration="1000"
              >
                <div class="col-md-12">
                  <section
                    class="splide"
                    id="splideKU"
                    aria-label="Inženjerska Geodezija Splide"
                  >
                    <div class="splide__track">
                      <ul class="splide__list">
                        <li class="splide__slide">
                          <img
                            src="image/katastarske-usluge1.webp"
                            class="w-100"
                            alt="Katastar Hrvatska"
                          />
                        </li>
                        <li class="splide__slide">
                          <img
                            src="image/katastarske-usluge2.webp"
                            class="w-100"
                            alt="Katastar Hrvatska"
                          />
                        </li>
                        <li class="splide__slide">
                          <img
                            src="image/katastarske-usluge3.png"
                            class="w-100"
                            alt="Katastar Hrvatska"
                          />
                        </li>
                      </ul>
                    </div>
                  </section>
                </div>
              </div>

              <div
                class="width-50"
                data-aos="fade-left"
                data-aos-duration="1000"
              >
                <p>
                  Kvalitetna, brza i pouzdana izrada geodetskih elaborata svih
                  namjena.
                </p>
                <ul class="list-unstyled">
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Upis objekata u katastar i zemljišnu knjigu
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Parcelacija zemljišta
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Usklađenje katastra i zemljišne knjige
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Geodetski projekt
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Uspostava katastra infrastrukture
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Izrada posebnih geodetskih podloga
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Evidentiranje pomorskog ili vodnog dobra
                  </li>
                  <li>
                    <i
                      class="fa-regular fa-circle-check text-primary fw-semibold"
                      style="margin-right: 10px"
                    ></i
                    >Obnova međa
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- LEICA GEOSYSTEMS-->

      <!-- <div class="container-fluid leica-bg mt-5 py-1 py-md-7"> -->
      <!-- <div class="container-md"> -->
      <!--H2 velicina je u custom cssu, bootstrap ne podrzava mjenjanje widtha po breakpointsima-->
      <!-- <h2 class="leica-naslov">
          Najkvalitetnija Leica Geosystems oprema uz naš stručan tim garantira
          uspjeh
        </h2>
      </div>
    </div> -->

      <!-- <div class="container-md mt-5">


      <div class="card bg-black  my-5">
        <div>
          <div class="justify-content-center p-5">
            <h5 class="slider-naslov text-center">
              <strong>Terestrička fotogrametrija i aerofotogrametrija</strong>
            </h5>
          </div>
        </div>

        <div class="container d-flex flex-column flex-lg-row align-items-center">
          <div class="image-wrap p-4">
            <img src="image/terestricka-fotogametrija-i-aerofotogametrija.webp" class="mw-100"
              alt="Terestrička Fotogrametrija i Aerofotogrametrija" />
          </div>
          <div>
            <p>
              Aerofotogrametrijski snimci služe za isporuku ortofota
              visoke rezolucije te digitalnog modela terena.
              <br />
              <br />Za potrebe na manjoj skali raspolažemo
              visokopreciznom bespilotnom letjelicom DJI Phantom 4 RTK.
              Za potrebe srednjeg dometa i snimanja koridora koristimo
              Matrice M300 RTK u kombinaciji sa L1/P1 senzorom.
            </p>
            <p>
              Za potrebe na većoj skali koristimo Delta Quad Map VTOL i
              Sony A7RIV kameru.
              <br />
              <br />Navedena kombinacija omogućava autonomiju od 2 sata
              te pritom omogućava mapiranje 1200ha pri rezoluciji od
              3cm/px. Uz pomoć Sonyjeve kamere vršimo terestričku i
              blizupredmetnu fotogrametriju.
            </p>
          </div>

        </div>
      </div>


      <div class="card bg-black  my-5">
        <div>
          <div class="justify-content-center p-5">
            <h5 class="slider-naslov text-center">
              <strong>LiDAR i terestričko lasersko skeniranje</strong>
            </h5>
          </div>
        </div>
        <div>
          <div class="container d-flex flex-column flex-lg-row align-items-center">
            <div class="image-wrap p-2">
              <video autoplay loop muted src="image/rieglLidar.mp4" style="width: 100%" loading="lazy"></video>
            </div>
            <div>
              <p>
                Kombinacijom Applanix-ovog APX20 IMU-a te Riegl-ovog miniVUX
                3 laserskog senzora isporučujemo detaljan digitalni model
                terena.
                <br />
                <br />Jedna od glavnih prednosti u usporedbi s
                fotogrametrijom je mogućnost filtriranja vegetacije.
              </p>
              <p>
                Primjenu nalazi u mapiranju koridora - cestovne prometnice,
                željeznice i dalekovodi, složenih industrijskih postrojenja,
                šumskog inventara, velikih rudarskih površina...
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="card bg-black  my-5">
        <div>
          <div class="justify-content-center p-5">
            <h5 class="slider-naslov text-center">
              <strong>Multibeam hidrografija</strong>
            </h5>
          </div>
        </div>
        <div>
          <div class="container d-flex flex-column flex-lg-row align-items-center">
            <div class="image-wrap p-4">
              <img src="image/multibeam-hidrografija.webp" alt="Multibeam Hidrografija" class="w-100" />
            </div>
            <div>
              <p>
                WASSP S3PR Multibeam Echosounder (MBES) namjenski je
                napravljen za geodetsko mapiranje i istraživanje. Simultanim
                generiranjem do 100 pingova u sekundi pri kutu od 120
                stupnjeva te uključivanjem napredne obrade signala s lakoćom
                vidimo potpunu i točnu sliku podvodne batimetrije.
              </p>
              <p>
                Ovaj sustav idealan je za: detaljno batimetrijsko
                istraživanje, istraživanje luka i upravljanje kanalima,
                jaružanje, inspekciju pomorske infrastrukture, istraživanje
                olupina i operacije traganja i spašavanja
              </p>
            </div>
          </div>
        </div>
      </div>


    </div>



    </div> -->

      <div class="container-md mt">
        <h2 class="text-center fw-semibold mb-5">ISO CERTIFIKATI</h2>
        <div class="row">
          <!-- ISO 9001:2015 -->
          <div class="col-md-6 mb-4">
            <div class="feature-box text-center border-bottom rounded p-2">
              <i class="fa-regular fa-thumbs-up fs-1 text-primary mb-3"></i>
              <h3>ISO 9001:2015</h3>
              <p class="width-75 mx-auto">
                Sustav upravljanja kvalitetom poslovanja i ukupne organizacije
                društva u odnosu na procese, postupanjai stvaranje djelotvornog
                radnog okružja
              </p>
            </div>
          </div>

          <!-- ISO 14001:2015 -->
          <div class="col-md-6 mb-4">
            <div class="feature-box text-center border-bottom rounded p-2">
              <i class="fa-solid fa-leaf fs-1 text-primary mb-3"></i>
              <h3>ISO 14001:2015</h3>
              <p class="width-75 mx-auto">
                Sustav upravljanja okolišem obuhvaća sve aspekte utjecaja na
                okoliš i društvenu okolinu, uključujući aktivnosti koje
                pospješuju razvoj okolišne svjesti.
              </p>
            </div>
          </div>

          <!-- ISO 45001:2018 -->
          <div class="col-md-6 mb-4">
            <div class="feature-box text-center border-bottom rounded p-2">
              <i class="fa-solid fa-heart-pulse fs-1 text-primary mb-3"></i>
              <h3>ISO 45001:2018</h3>
              <p class="width-75 mx-auto">
                Sustav upravljanja zdravljem i sigurnošću na radu obuhvaća sve
                aspekte radnog utjecaja na ljude te postupanja spram radnih
                uvjeta i uvjeta na radu.
              </p>
            </div>
          </div>

          <!-- ISO 27001:2013 -->
          <div class="col-md-6 mb-4">
            <div class="feature-box text-center border-bottom rounded p-2">
              <i class="fa-solid fa-laptop fs-1 text-primary mb-3"></i>
              <h3>ISO 27001:2013</h3>
              <p class="width-75 mx-auto">
                Sustav upravljanja sigurnošću informacija uključuje primjenu
                kontrolnih mehanizama nadzora i aktivnosti upravljanja nužnih za
                ostvarenje sigurnosti informacija.
              </p>
            </div>
          </div>
        </div>
      </div>

      <section id="whyUs">
        <div class="container">
          <h2 class="text-secondary pt-5 text-center mb-5">
            <span class="text-primary-alpha">ZAŠTO BAŠ MI</span>
          </h2>

          <div class="row mb-4 border-bottom border-white pb-4">
            <img
              loading="lazy"
              class="d-none d-md-block col col-md-4 col-lg-2"
              alt="Profesionalnost Prije Svega"
              src="image/profesionalnost-prije-svega.webp"
            />
            <div
              class="col col-md-8 col-lg-10 d-flex flex-column justify-content-center"
            >
              <h3 class="text-secondary">
                <span class="text-primary-alpha"
                  >Profesionalnost prije svega</span
                >
              </h3>
              <p>
                Kroz niz godina konstantno usavršavamo naš pristup klijentima.
                Naš tim se trenutno sastoji od <span class="text-bold">8 </span
                ><span class="text-bold">inženjera geodezije</span> te 3 stručna
                suradnika. Svi djelatnici imaju položenu
                <span class="text-bold">A1/A2/A3</span> otvorenu kategoriju za
                izvođenje letačkih operacija na području Europe.
              </p>
            </div>
          </div>

          <div class="row mb-4 border-bottom border-white pb-4">
            <img
              loading="lazy"
              class="d-none d-md-block col col-md-4 col-lg-2"
              alt="Najbolja oprema za prikupljanje podataka"
              src="image/najbolja-oprema.webp"
            />
            <div
              class="col col-md-8 col-lg-10 d-flex flex-column justify-content-center"
            >
              <h3 class="text-secondary">
                <span class="text-primary-alpha"
                  >Najbolja oprema za prikupljanje podataka</span
                >
              </h3>
              <p>
                Od geodetske opreme posjedujemo sam vrh Leicine linije proizvoda
                - <span class="text-bold">GNSS GS18 I</span>, 1" robotiziranu
                totalnu stanicu<span class="text-bold"> TS16</span> te
                najprecizniji digitalni nivelir
                <span class="text-bold">LS15.</span> Koristimo najpouzdanije
                letjelice tvrtki
                <span class="text-bold">Vertical Technologies</span> i
                <span class="text-bold">DJI</span>. Samim tim jamčimo kvalitetu
                i brzinu isporuke u vidu točnosti i preciznosti svih geodetskih
                zadaća.
              </p>
            </div>
          </div>

          <div class="row mb-4">
            <img
              loading="lazy"
              class="d-none d-md-block col col-md-4 col-lg-2"
              alt="Pouzdanost, visoka kvaliteta i poštivanje rokova"
              src="image/pouzdanost-visoka-kvaliteta.webp"
            />
            <div
              class="col col-md-8 col-lg-10 d-flex flex-column justify-content-center"
            >
              <h3 class="text-secondary">
                <span class="text-primary-alpha">Pouzdanost</span>,<span
                  class="text-primary-alpha"
                >
                  visoka kvaliteta i</span
                >
                <span class="text-primary-alpha">poštivanje rokova</span>
              </h3>
              <p>
                Smatramo da uz naše iskustvo, pouzdanost, visoku kvalitetu i
                brzinu isporuke konačnog proizvoda spadamo u sam vrh geodetskih
                tvrtki u državi.
              </p>
            </div>
          </div>
        </div>
      </section>

      <div class="container-md mt-5">
        <h2 class="text-center mb-3">Naši partneri:</h2>
        <section
          class="splide border-top border-bottom border-white py-5"
          aria-label="Partneri"
          id="partneri"
        >
          <div
            class="splide__track"
            data-aos="zoom-in"
            data-aos-duration="1000"
          >
            <ul class="splide__list">
              <li class="splide__slide d-flex justify-content-center">
                <img
                  style="max-height: 100px"
                  src="image/partneri/GK.webp"
                  alt="Partner Grad Kutjevo"
                />
              </li>
              <li class="splide__slide d-flex justify-content-center">
                <img
                  style="max-height: 100px"
                  src="image/partneri/HAC.webp"
                  alt="Partner Hrvatske Autoceste"
                />
              </li>
              <li class="splide__slide d-flex justify-content-center">
                <img
                  style="max-height: 100px"
                  src="image/partneri/HEP.webp"
                  alt="Partner HEP"
                />
              </li>
              <li class="splide__slide d-flex justify-content-center">
                <img
                  style="max-height: 100px"
                  src="image/partneri/Rencon.webp"
                  alt="Partner Rencon"
                />
              </li>
              <li class="splide__slide d-flex justify-content-center">
                <img
                  style="max-height: 100px"
                  src="image/partneri/RIEGL.webp"
                  alt="Partner RIEGL"
                />
              </li>
              <li class="splide__slide d-flex justify-content-center">
                <img
                  style="max-height: 100px"
                  src="image/partneri/termoplin.webp"
                  alt="Partner Termoplin Varaždin"
                />
              </li>
              <li class="splide__slide d-flex justify-content-center">
                <img
                  style="max-height: 100px"
                  src="image/partneri/4u2_logo.webp"
                  alt="Partner 4U2"
                />
              </li>
            </ul>
          </div>
        </section>
      </div>

      <div class="container-md mt-5 mt-md-7 contact" id="kontakt">
        <div
          class="text-center mx-auto"
          data-wow-delay=".3s"
          style="max-width: 600px; visibility: visible"
          data-aos="zoom-in"
          data-aos-duration="1000"
        >
          <h2 class="mb-3 text-primary fw-semibold">Kontaktirajte nas</h2>
          <p class="mb-2">
            Imate upit vezan za naše usluge? Slobodno nam se obratite putem
            kontakt obrasca, a mi ćemo vam odgovoriti u najkraćem mogućem roku.
          </p>
        </div>
        <div class="position-relative py-5">
          <div class="row g-3 g-md-5 justify-content-center">
            <div
              class="col-xl-6 col-lg-6"
              data-wow-delay=".3s"
              style="visibility: visible"
            >
              <div class="d-flex kontakt-hover-info p-3 rounded">
                <div
                  class="flex-shrink-0 d-flex align-self-center align-items-center justify-content-center bg-black rounded-circle"
                  style="width: 32px; height: 32px"
                >
                  <i class="fas fa-map-marker-alt text-white"></i>
                </div>
                <div class="ms-3">
                  <h4 class="fw-semibold text-black">Adresa</h4>
                  <a
                    href="https://maps.app.goo.gl/NxA5RXfvZcyAMuin9"
                    target="_blank"
                    class="h5 text-black"
                    >Županijska 4, Požega</a
                  >
                </div>
              </div>
            </div>
            <div
              class="col-xl-6 col-lg-6"
              data-wow-delay=".7s"
              style="visibility: visible"
            >
              <div class="d-flex kontakt-hover-info p-3 rounded">
                <div
                  class="flex-shrink-0 d-flex align-self-center align-items-center justify-content-center bg-black rounded-circle"
                  style="width: 32px; height: 32px"
                >
                  <i class="fa fa-envelope text-white"></i>
                </div>
                <div class="ms-3">
                  <h4 class="text-black fw-semibold">Email</h4>
                  <a
                    class="h5 text-black"
                    href="mailto:info@geometricus.hr"
                    target="_blank"
                    >info@geometricus.hr</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row g-5">
            <div
              class="col-lg-6"
              data-aos="fade-right"
              data-aos-duration="1000"
            >
              <div class="h-100 rounded mt-5">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2804.8421062011917!2d17.673374212938853!3d45.33181077095152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475d84db7882ab5f%3A0x86da7ee0db407d16!2zxb11cGFuaWpza2EgdWwuIDQsIDM0MDAwLCBQb8W-ZWdh!5e0!3m2!1sen!2shr!4v1699565351181!5m2!1sen!2shr"
                  width="600"
                  height="450"
                  style="border: 0"
                  class="w-100"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-duration="1000">
              <div class="rounded mt-lg-5">
                <div class="mb-4">
                  <input
                    type="text"
                    class="form-control border-0 py-3"
                    placeholder="Vaše Ime"
                  />
                </div>
                <div class="mb-4">
                  <input
                    type="email"
                    class="form-control border-0 py-3"
                    placeholder="Vaš Email"
                  />
                </div>
                <div class="mb-4">
                  <input
                    type="text"
                    class="form-control border-0 py-3"
                    placeholder="Vrsta Vašeg Upita"
                  />
                </div>
                <div class="mb-4">
                  <textarea
                    class="w-100 form-control border-0 py-3"
                    rows="6"
                    cols="10"
                    placeholder="Poruka"
                  ></textarea>
                </div>
                <div class="text-start">
                  <button
                    class="btn btn-primary fw-semibold py-3 px-5"
                    type="button"
                  >
                    Pošalji
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    
    <!--Overlay kad se klikne navigation bar na mobitelu-->
    <div class="overlay"></div>
